
.category {
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    text-align: center;  
}
.product {
    background-color: lightgray;
    text-align: center;  
    border: 1px solid black;
}
p{
    font-weight: 600;
}
a {
    font-size: larger;
    color: #000;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-around;
}  
@media(max-width:700px){
    .category {
        grid-template-columns:  1fr 1fr;
    }
}
    @media(max-width:500px){
    .category {
        grid-template-columns:  1fr;
    }
    }