html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

/* General styles */
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVBAR*/

 li {
    display: inline-block;
}
nav a {
    color: #000;
    text-decoration: none;
    padding: 10px;
}
nav a:hover {
    text-decoration: underline;
}
nav ul {
    padding: 0px;
}
.active {
    background-color: #4682B4;
    color: #fff
}

.logo-container {
    padding-top: 5px;
    max-width: 2600px;
    background-color: #008080;
}
/*FOOTER*/

footer {
    background-color: #008080;
    font-size: larger;
    justify-content: space-evenly;
    display: flex;
    flex-wrap: wrap;
}

/*BUTTONS*/
.cta {
    background-color: #FF6600;
    border-radius: 19px;
    font-size: large;
    color: #fff;
    text-decoration: bold;
    padding:5px 20px;
  }
  .cta {
    background-color: #FFA500;
    border-radius: 18px;
    font-size: large;
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
}

  button {
    background-color: #FFA500;
    color: white;
    padding: 15px;
    border-radius: 12px;
    text-decoration: normal;
    font-weight: bold;
    display: block; 
    margin-bottom: 10px;
}

/*Product images*/
.card {
    background-color: #C2B280;
    border: 1px solid black;
    padding: 10px;
    margin-bottom: 10px;
}

.card img {
    max-width: 100%;
    height: auto;
}
/* Loading Spinner */
.spinner {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Error Message Styling */
.error-message {
    color: red;
    background-color: #ffdada; 
    padding: 15px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


/* Contact page and booking form*/

.contact-info, .booking-form, .additional-info, .contact-personas {
    margin-bottom: 40px;
}

.contact-info h1, .contact-info h2, .contact-info p {
    text-align: center;
}

.booking-form {
    background-color: #EEF1F6;
    padding: 20px;
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.booking-form h1, .booking-form h2 {
    text-align: center;
    margin-top: 0;
}

.booking-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.booking-form input,
.booking-form textarea {
    width: calc(100% - 20px);
    margin: 10px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 16px;
}

.booking-form textarea {
    height: 150px;
}

.booking-form button.cta {
    background-color: #FF6600;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 20px auto 0;
}

.booking-form button.cta:hover {
    background-color: #FFA500;
}

/* Additional info styles, contact page */
.additional-info {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.additional-info h3, .additional-info h4 {
    text-align: center;
    margin: 0;
}

.additional-info p {
    text-align: center;
    margin: 5px 0;
}

/* Contact personas styles */
.contact-personas {
    text-align: center;
}

.contact-personas .card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin: 20px auto;
    max-width: 300px;
    text-align: center;
}

.contact-personas .card h3 {
    margin-top: 0;
}

.contact-personas .card img {
    max-width: 100%;
    height: auto;
    border-radius: 50%;
    margin-top: 10px;
}


/* Loading Spinner */
.spinner {
    border: 5px solid #f3f3f3; 
    border-top: 5px solid #3498db; 
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* Error Message Styling */
.error-message {
    color: red;
    background-color: #ffdada; 
    padding: 15px;
    margin: 10px 0;
    border: 1px solid red;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}


/* The hero section */
.hero-image {
  background-image: url(/Images/ashley-knedler-Pf5Pj7A5ddA-unsplash.jpg);
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-bottom: 20%;
}
.hero-text {
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
/*Sale on homepage*/

.sale-section {
    background-image: url(/Images/sale-section2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: left; 
    padding: 50px 20px; 
    margin: 80px 0; 
    height: auto; 
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    flex-direction: row; 
}

.sale-content {
    max-width: 600px; 
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    border-radius: 10px;
}

.sale-content h1 {
    font-size: 36px; 
    margin: 0 0 20px; 
}

.category-buttons {
    display: flex;
    flex-direction: column; 
}

.category-buttons button {
    background-color: #E09 (255, 255, 255, 0.2);
    border: 2px solid white;
    color: white;
    font-size: 18px;
    margin: 5px 0; 
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-buttons button:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
/*Gallery on homepage*/

.gallery {
    padding: 50px 0;
    text-align: center;
    background-image: url(/Images/bakgrunn.jpg);
    background-repeat: no-repeat;
    padding-top: 3%;

  }
  
  .gallery h2 {
    margin-bottom: 30px;
    font-size: 36px;
  }
  
  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    margin: 15px;
    flex: 1 1 calc(33.333% - 30px);
    box-sizing: border-box;
  }
  
  .gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* SOME ICONS */
  footer ul {
    list-style: none; 
    padding: 0; 
}

footer ul li {
    display: inline-block; 
    margin: 0 10px; 
}

footer ul li a {
    color: white; 
    text-decoration: none; 
    font-size: 18px; 
    display: flex; 
    align-items: center; 
}

footer ul li a i {
    font-size: 26px; 
    margin-right: 10px; 
    transition: color 0.3s ease; 
}

footer ul li a:hover {
    color: #ff6347; 
}

footer ul li a:hover i {
    color: #ff6347; 
}

  
 /* Responsive Design */
@media (max-width: 1024px) {
    .container {
      width: 90%;
    }
  
    .hero-image {
      height: 450px;
      padding-bottom: 18%;
    }
  
    .hero-text {
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
    .container {
      width: 95%;
    }
  
    .hero-image {
      height: 400px;
      padding-bottom: 15%;
    }
  
    .gallery-item {
      flex: 1 1 calc(50% - 30px);
    }
  }
  
  @media (max-width: 480px) {
    .container {
      width: 100%;
      padding: 0 10px;
    }
  
    .hero-image {
      height: 300px;
      padding-bottom: 10%;
    }
  
    .hero-text {
      text-align: center;
      font-size: 1.2em; 
    }
  
    .gallery-item {
      flex: 1 1 calc(100% - 30px);
    }
  
    .gallery-item img {
      width: 100%;
      height: auto; 
    }